body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 500px;
    color: #f5e17a !important;
}

header {
    background-color: #24305E;
}

.nav-left a {
    float: left;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 1.2em;
}

.nav-right {
    float: right;
    margin-right: 30px;
}

a {
    color: #67bfef !important;
    text-decoration: none !important;
}

a:hover {
    color: #F8E9A1 !important;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    background-color: pink !important;
}

h1 {
    text-align: center;
    color: #24305E;
    padding-top: 20px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: #24305E;
    color: #f5e17a;
    padding: 30px 20px 20px 20px;
    flex: 1 1 300px;
    max-width: 34%;
    box-sizing: border-box;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    width: 80%;
    max-height: 250px;
    max-width: 250px;
    margin: auto;
    display: block;
}

.quiz-img {
    margin-bottom: 10px;
}

button {
    border-radius: 10px !important;
    padding: 2px 5px !important;
    border: none !important;
    background-color: #f8efc4;
    color: #24305E;
}

button:hover {
    background-color: #f5e17a;
}

footer {
    flex: 0 40px;
    background-color: #24305E;
    display: flex;
    align-items: center;
    height: 40px;

} 
 
footer a {
    margin-left: 20px;
}
