.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: #24305E;
    color: #f5e17a;
    padding: 30px 20px 20px 20px !important;
    flex: 1 1 300px;
    max-width: 34%;
    box-sizing: border-box;
    text-align: center;
}

.home-img {
    width: 80%;
    max-height: 250px;
    max-width: 250px;
    margin: auto;
    display: block;
}

.quiz-img {
    margin-bottom: 10px;
}
